#app {
    position: relative;
}

#login {
    width: 100%;
}

#activities {
    text-align: center;
    border: 1px solid pink;
    width: 300px;
}

#activity-div {
    border: 1px solid pink;
    width: 300px;
}

.logged-hours-div {
    position: relative;
    border: 1px solid pink;
    top: 10px;
    right: 10px;
}